<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <title>NASA wallpaper</title>
  </head>
  <body>
    <p>{{description}}</p>
  </body>
  <style>
    body {
      color: white;
      font-size: 20px;
      background-color: darkblue;
    }
  </style>
</html>
